
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- TODO: Need to add a custom function to use variables in header with handlebars-->
    <title>{{ComponentName}} - Component</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../resources/css/main.css">
    <!-- Import Components JS and CSS-->
    <script src="../resources/js/jj-slider.js"></script>

  </head>

  <body>
      <!-- Use navbar template (handlebars partial)-->
      {{> navbar }}

    <div class="container content">
      <div class="row">

        <!-- Use sidebar template (handlebars partial)-->
        {{> sidebar name='{{ComponentName}}' }}

        <!-- Main body -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ComponentName}}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Source</button>
              </div>
            </div>
          </div>
          <section>
            <p>{{Description}}</p>

              <!--WRITE jj slider MARKDOWN Below in <p> tags!-->
                  <p>Here is an example sentence describing jj-slider : </p>
                  <jj-slider value=35 min=0 max=50 color="purple"></jj-slider>

            <!-- Attribute Table--> 
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Attribute Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Type</th>
                        <th scope="col">Accepted Values</th>
                        <th scope="col">Default Value</th>
                    </tr>
                </thead>
            {{#each Attributes}}
            <tr>
            <th >{{this.AttributeName}}</th>
            <th>{{this.AttributeDescription}}</th>
            <th>{{this.AttributeType}}</th>
            <th>{{this.AttributeAcceptedValues}}</th>
            <th>{{this.AttributeDefault}}</th>
            </tr>
            {{/each}}
            </table>
          </section>


        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Load component .js files from cdn in the future-->

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

  </body>
</html>
